<!DOCTYPE html>
<html>
<head>
    <title>Edit Parking Lot</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header class="header">
        <nav class="header-center">
            <a href="{{ url_for('admin.admin_dashboard') }}">Home</a>
            <a href="{{ url_for('admin.view_users') }}">Users</a> 
            <a href="{{ url_for('admin.view_parking_spots') }}">Search Spots</a>
            <a href="{{ url_for('admin.admin_summary') }}">Summary</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </nav>
    </header>
    
    <h2>Edit Parking Lot</h2>
    <div class="container" style="width: 50%; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
    <form action="{{ url_for('admin.edit_parking') }}" method="post">
        <label for="lot_id">Lot ID to Edit:</label>
        <input type="text" name="lot_id" placeholder="Lot ID" required>
        <label for="prime_location_name">New Prime Location Name (Optional):</label>
        <input type="text" name="prime_location_name" placeholder="Location Name">
        <label for="price">New Price (Optional):</label>
        <input type="text" name="price" placeholder="Price in Rs. ">
        <label for="address">New Address (Optional):</label>
        <input type="text" name="address" placeholder="Address">
        <label for="pincode">New Pincode (Optional):</label>
        <input type="text" id="pincode" name="pincode" pattern="\d{6}" maxlength="6" placeholder="6-digit PIN code" title="Please enter a 6-digit PIN code">
        <label for="maximum_number_of_spots">New Number of Spots Available (Optional):</label>
        <input type="number" name="maximum_number_of_spots" placeholder="Number of Spots">
        <button type="submit">Update</button>
    </form>
    </div>
</body>
</html>