<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Parking System</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="centered-page">
        <div class="container">
            <h1>Welcome to the Vehicle Parking System</h1>
            <h3 style="text-align: center;">Use the navigation to go to login or signup.</h3>
            <a href="/login" class="btn-link">Login</a>
            <a href="/signup" class="btn-link">Signup</a>
        </div>
    </div>
</body>
</html>
